body, html {
    display: block;
    padding: 0;
}

#root{
    padding: 0px!important;
}

.Admin{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100%);
    transform: translateX(-30px);
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow-x: hidden;

    .subTitle{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .Sidebar{
        position: fixed;
        background: #5568FE;
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;

        .AppName{
            font-size: 36px;
            line-height: 36px;
            color: white;
            font-weight: 700;
            margin: 30px;
        }

        nav{
            ul{
                display: flex;
                list-style: none;
                flex-direction: column;
                height: 100%;
                li{
                    height: 100%;
                    transition: background .25s ease;
                    a{
                        display: flex;
                        padding: 15px 30px;
                        font-size: 16px;
                        text-decoration: none;
                        color: white;
                        &.active{
                            background: lighten(#5568FE, 5%);
                        }
                    }
                    &:hover{
                        background: lighten(#5568FE, 5%);
                    }
                }
            }
        }
    }

    .Content{
        // width: 100%;
        background: #f5f5f5;
        height: 100%;
        margin-left: 300px;
        padding: 38px 30px;

        .Participants{
            display: flex; 
            flex-direction: row;

            .List{
                margin: 0 20px 20px 0;
                width: 300px;

                .Card{
                    cursor: pointer;
                    width: auto;
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    background: white;
                    border: 0.5px solid rgba(0, 0, 0, 0.05);
                    box-sizing: border-box;
                    transition: background .25s linear;

                    &:hover{
                        background: #ccc;
                    }

                    .isPlanning{
                        text-align: center;
                        width: 40px;
                        margin-right: 20px;
                    }
                    .Brief{
                        .Name{
                            font-weight: 600;
                        }
                        .Level{
                            font-size: 14px;
                        }
                    }
                }
            }
            .Detail{
                height: 100%;
                min-width: 400px;
                overflow-y: none;
                margin: 0 20px 20px 0;
                flex: 11;
                background: white;
                border: 0.5px solid rgba(0, 0, 0, 0.05);
                box-sizing: border-box;
                box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
                border-radius: 12px;

                .Info{
                    padding: 20px 20px;
                    display: flex;
                    flex-direction: column;

                    .Row{
                        margin-bottom: 10px;
                        display: flex;

                        .cTitle{
                            font-weight: 600;
                            flex: 1;
                        }

                        .cData{
                            flex: 2;
                        }
                    }
                }

                .Response{
                    display: flex;
                    flex-direction: column;
                    padding: 0 20px 20px 20px;

                    .Data{
                        display: flex;
                        border-top: 1px solid rgba(0, 0, 0, 0.05);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                        padding: 20px 0;

                        .questionNo{
                            text-align: center;
                            margin-right: 10px;
                            font-weight: 600;
                        }
                        .dataContainer{
                            display: flex;
                            flex-direction: column;
    
                            .Question{
                                font-weight: 600;
                            }

                            .Answer{
                                ul{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    list-style: none;
                                    margin: 10px 0;
                                    li{
                                        
                                        &.Priority{
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            text-align: center;
                                            width: 14px;
                                            height: 14px;
                                            font-weight: 700;
                                            margin-right: 10px;
                                            background: #5568FE;
                                            border-radius: 100%;
                                            color: white;
                                        }

                                        &.pData{
                                            flex: 2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }



        h1{
            font-size: 28px;
            line-height: 28px;
            font-weight: 600;
            color: #333;
            margin-bottom: 38px;
        }
    }
}